<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="BizupBuyerApp">
	<listeners>
		<listener class-name="Bizupautomation.testUtils.Listeners"/>
	</listeners>
	<test thread-count="5" name="AppInstall">
		<classes>
			<class name="Bizupautomation.bizup.PlayStoreInstall" />
		</classes>
	</test> 
	<test thread-count="5" name="EnquiryFlow">
		<classes>
			<class name="Bizupautomation.bizup.EnquiryFlows" />
		</classes>
	</test> 
</suite> 
