<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="BizupBuyerApp">
	<listeners>
		<listener class-name="Bizupautomation.testUtils.Listeners"/>
	</listeners>
	<test thread-count="5" name="InstallAndLogin">
		<classes>
			<class name="Bizupautomation.testCases.InstallAndLogin" />
		</classes>
	</test> 
	<test thread-count="5" name="EnquiryFlows">
		<classes>
			<class name="Bizupautomation.testCases.EnquiryFlows" />
		</classes>
	</test>
	<test thread-count="5" name="SaveFlow">
		<classes>
			<class name="Bizupautomation.testCases.Save" />
		</classes>
	</test>
	<test thread-count="5" name="Agent">
		<classes>
			<class name="Bizupautomation.testCases.Agent" />
		</classes>
	</test>
	<test thread-count="5" name="SellerJourneyFlow">
		<classes>
			<class name="Bizupautomation.testCases.SellerJourney" />
		</classes>
	</test>
	<test thread-count="5" name="SuperSeller">
		<classes>
			<class name="Bizupautomation.testCases.Super" />
		</classes>
	</test>
	<test thread-count="5" name="LastCatalog">
		<classes>
			<class name="Bizupautomation.testCases.LastCatalog" />
		</classes>
	</test>
	<test thread-count="5" name="ProfileFlow">
		<classes>
			<class name="Bizupautomation.testCases.Profile" />
		</classes>
	</test>
</suite> 
